In [1]:
from calculators import life

In [2]:
this = life.projections(prov='qc',scenario='M',gender='males')

In [3]:
this.raw.head()

,year,gender,0,1,2,3,4,5,6,7,...,100,101,102,103,104,105,106,107,108,109
8,2013,1,0.000496,0.000162,0.000142,0.000125,0.000110,0.000096,0.000085,0.000074,...,0.611757,0.669132,0.729026,0.791060,0.854795,0.919732,0.985337,1.0,1.0,1.0
34,2014,1,0.000484,0.000157,0.000137,0.000120,0.000105,0.000092,0.000081,0.000071,...,0.609197,0.666303,0.725912,0.787652,0.851087,0.915727,0.981043,1.0,1.0,1.0
60,2015,1,0.000471,0.000151,0.000132,0.000115,0.000101,0.000088,0.000078,0.000068,...,0.606679,0.663522,0.722854,0.784308,0.847451,0.911801,0.976834,1.0,1.0,1.0
86,2016,1,0.000459,0.000146,0.000127,0.000111,0.000097,0.000085,0.000074,0.000065,...,0.604204,0.660791,0.719853,0.781026,0.843884,0.907951,0.972709,1.0,1.0,1.0
112,2017,1,0.000447,0.000141,0.000122,0.000106,0.000093,0.000081,0.000071,0.000063,...,0.601770,0.658107,0.716904,0.777804,0.840385,0.904176,0.968665,1.0,1.0,1.0

In [ ]:
http://www.prdh.umontreal.ca/BDLC/data/que/Mx_1x1.txt